/*--------------------------------------------------------------------*/
/*                               General                              */
/*--------------------------------------------------------------------*/
// body{
//   color: $primary
// }

a, a:hover{
  text-decoration: none;
  cursor: pointer;
}

ol, ul, li{
  padding: 0;
  list-style: none;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, label{
  margin: 0;
}

.w-100{
  width: 100%;
}

.w-49{
  width: 49% !important;
}

.w-30{
  width: 30% !important;
}

.h-100{
  height: 100% !important;
}

.flex-between-ceter{
  @include flex-between-ceter;
}

.object-fit-cover{
  object-fit: cover;
}

.object-position-center{
  object-position: center;
}

// For Hide Edge password icon
input[type="password"]{
  &::-ms-reveal, &::-ms-clear{
    display: none;
  }
}

// Hide input[type="number:] scoller
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
